<h1>Edit the sighting</h1>

<% if @sighting.errors.any? %>
  <% @sighting.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<form action='/species/<%= @sighting.species_id %>/sightings/<%= @sighting.id %>' method='post'>
  <input name='_method' type='hidden' value='patch'>
  <label for='sighting_date'>Date</label>
  <input id='sighting_date' name='sighting[date]' type='text' value='<%= @sighting.date %>'>
  <label for='sighting_latitude'>Latitude</label>
  <input id='sighting_latitude' name='sighting[latitude]' type='text' value='<%= @sighting.latitude %>'>
  <label for='sighting[longitude]'>Longitude</label>
  <input id='sighting_longitude' name='sighting[longitude]' type='text' value='<%= @sighting.longitude %>'>
  <button>Edit Sighting</button>
</form>

<p><a href='/species/<%= @sighting.species_id %>/sightings/<%= @sighting.id %>'
  data-confirm='Are you sure you want to delete this sighting'
  data-method='delete'
  rel='nofollow'>Delete this sighting</a></p>
