<h1>Add a New Sighting</h1>

<% if @sighting.errors.any? %>
  <% @sighting.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<form action='/species/<%= @sighting.species.id %>/sightings' method='post'>
  <label for='sighting_date'>Date</label>
  <input id='sighting_date' name='sighting[date]' type='text' value='<%= @sighting.date %>'>
  <label for='sighting_latitude'>Latitude</label>
  <input id='sighting_latitude' name='sighting[latitude]' type='text' value='<%= @sighting.latitude %>'>
  <label for='sighting_longitude'>Longitude</label>
  <input id='sighting_longitude' name='sighting[longitude]' type='text' value='<%= @sighting.longitude %>'>
  <input name='sighting[species_id]' type='hidden' value='<%= @sighting.species_id %>'>
  <button>Add Sighting</button>
</form>

<select>
  <% @sighting.regions.each do |region| %>
    <option><%= region.name %></option>
  <% end %>
</select>
